:root {
    --primary: #635BFF;
    --secondary: #CCCAFA;
    --white: #FFFFFF;
    --black: #404040;
    --large-mobile: 500px;
    --tablet: 768px;
    --desktop: 1000px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #ffffff;
    background: linear-gradient(356deg,rgba(255, 255, 255, 1) 0%, var(--secondary), rgba(255, 255, 255, 1) 100%);
}
body > * {
    padding: 20px;
}

/* FONTS */
.fira-sans-condensed-black {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 1px;
}

.fira-sans-condensed-bold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fira-sans-condensed-regular {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-semi-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* REUSABLE CLASSES */
.img-logo {
    display: block;
    width: 90px;
    height: 90px;
    background-color: var(--white);
}

.primary-text {
    color: var(--primary);
}

.cta {
    width: 100%;
    max-width: 600px;
    font-size: 1.125rem;
    text-align: center;
    padding-block: 17px;
    border-radius: 31px;
    border: none;
    margin: 15px auto;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.fira-sans-condensed-bold.cta {
    background-color: var(--primary);
    color: var(--white);
}

.quote-container {
    display: grid;
    grid-template-columns: 10px 1fr;
    gap: 10px;
    margin-block: 15px;

    .quote {
        display: block;
        background-color: var(--secondary);
        height: 100%;
    }
}

.container-block {
    max-width: 1000px;
    margin: 0 auto;
}

.logotype {
    display: block;
    font-size: 1.75rem;
    margin: 15px 0 30px 0;
}

h1 {
    line-height: 3.125rem;
    font-size: 2rem;
    letter-spacing: 0.04em;

    @media screen and (min-width: 500px) {
        font-size: 2.5rem;
        line-height: 3.7rem;
    }
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 500px) {
        font-size: 2rem;
        margin-block: 2rem;
    }
}

h3, strong {
    font-size: 1.2rem;

    @media screen and (min-width: 500px) {
        font-size: 1.5rem;
    }
}

p, li {
    margin-block: 0.5rem;
    font-size: 1rem;

    @media screen and (min-width: 500px) {
        font-size: 1.3rem;
        margin-block: 1.5rem;
    }
}

hr {
    border: solid 1px var(--white);
    margin-block: 20px;

    @media screen and (min-width: 500px) {
        margin-block: 30px;
    }
}

/* SPECIFIC SECTIONS */
header {
    color: var(--white);
    border-radius: 0 0 35px 35px;
    background: var(--primary);
    background: linear-gradient(356deg,var(--secondary) 0%, var(--primary) 100%);

    img {
        display: none;
    }

    @media screen and (min-width: 426px) {
        padding-block: 50px;
        position: relative;
        overflow-x: hidden;
        
        .container-block {
            display: grid;
            grid-template-columns: 60% 40%;
            height: 100%;
        }

        img {
            display: block;
            width: 364px;
            height: 364px;
            margin: auto;
        }
    }
}

.cards-container {
    display: grid;
    gap: 25px;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

section.funciones {
    .cta {
        margin-block: 45px;
    }

    .primary-text {
        font-size: 28px;
    }

    .cards-container {
        article {
            display: block;
            border-radius: 20px;
            background-color: var(--white);
            padding: 15px;
            container-type: inline-size;
    
            h3 {
                font-size: 23px;
                line-height: 27px;
            }
    
            p {
                font-size: 18px;
                margin-block: 10px;
            }
    
            img {
                margin: auto;
            }
        }

        @container (min-width: 600px) {
            article {
                div.content {
                    display: grid;
                    grid-template-columns: 70% 1fr;
                }
            }       
        }
    }
}

section.casos-uso {
    border-radius: 35px;
    background: var(--primary);
    background: linear-gradient(90deg,var(--primary) 0%, var(--secondary) 100%);
    color: var(--white);

    .cta {
        background-color: var(--white);
        color: var(--primary);
        margin-block: 30px;
    }

    h2 {
        font-size: 27px;
    }

    article {
        li, p {
            margin-bottom: 10px;
        }
        ul {
            padding-left: 10px;
        }
    }
}

section.porque-ahora {
    position: relative;
    overflow-x: hidden;
    img {
        display: none;
    }

    .title-container {
        padding-bottom: 30px;
    }

    @media screen and (min-width: 426px) {
        .title-container {
            display: grid;
            grid-template-columns: 60% 40%;
            align-items: center;
        }

        img {
            display: block;
            width: 90%;
            margin: auto;
        }
    }

    .porque-ahora-card {
        span {
            display: inline-block;
            width: 100%;
            height: 20px;
            background-color: var(--secondary);
            border-radius: 20px 20px 0 0;
        }

        div {
            padding: 12px;
        }

        border-radius: 20px;
        border: solid 1px var(--primary);
    }

    article {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 23px;
        }

        p {
            font-size: 18px;
        }
    }

    span.fira-sans-condensed-black {
        font-size: 28px;
        margin-block: 20px;
        display: block;
    }

    h2, h3 {
        font-size: 23px;
    }

    & > p {
        font-size: 18px;
        margin-block: 25px;
    }

    .cta {
        background: var(--primary);
        color: var(--white);
        margin-block: 25px;
    }
}

section.registro {
    @media screen and (min-width: 500px) {
        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px
        }
    }

    span {
        font-size: 28px;
        margin-block: 10px;
    }

    h2 {
        font-size: 23px;
        margin-block: 10px;
        display: block;
    }

    p {
        font-size: 18px;
    }

    form {
        margin-block: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: var(--primary);

        input, textarea {
            display: block;
            margin-bottom: 20px;
            padding: 10px;
            border: none;
            border-radius: 10px;
            font-size: 12px;
        }

        button[type=submit] {
            border: none;
            border-radius: 20px;
            width: 120px;
            background: var(--secondary);
            color: var(--primary);
            font-style: normal;
            letter-spacing: 1px;
            font-family: "Fira Sans Condensed", sans-serif;

            span {
                font-size: 1.2rem;
                font-weight: 600;
                display: inline;
            }
        }

        p {
            color: var(--white);
        }
    }

    background: var(--secondary);
    background: linear-gradient(325deg, rgba(255, 255, 255, 1) 0%, var(--secondary) 100%);
}

footer {
    text-align: center;
    margin: 30px;
}